.container{
  background-color: darkcyan;
  min-height: 800px;
}
.App {
  text-align: center;
  background-color: aqua;
}

.titleStyle {
  padding: 35px;
}
.headerStyle {
  padding: 5px;
}

.typeAndWeakness {
  display: inline-block;
}

.typeStyle {
  display: inline-block;
  font-weight: 600;
}

.weaknessStyle {
  display: inline-block;
  
  font-weight: 600;
} 

.PokeCard {
  width: 200;
  border: solid;
}